In [1]:
from google.cloud import bigquery
from google.oauth2 import service_account
key_path = "./creds/service_acc_auth.json"
credentials = service_account.Credentials.from_service_account_file(key_path, scopes = ["https://www.googleapis.com/auth/cloud-platform"])
bigquery_client = bigquery.Client(credentials=credentials, project=credentials.project_id)

In [2]:
# query new data <= 1/1
union_weeks = """
SELECT * , 
FROM `scanning-database.scanning_data_backup.W41`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W42`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W43`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W44`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W45`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W46`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W47`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W48`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W49`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W50`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W51`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W52`
"""

In [3]:
# Overwriting old PowerBI source data
job_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10,
destination = 'scanning-database.PowerBI.PowerBI',
write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE
) # set query limit to 10G
query_job = bigquery_client.query(union_weeks, job_config)  # API request
rows = query_job.result()  # Waits for query to finish
data_in_use = rows.to_dataframe()

In [4]:
data_in_use.sort_values(by=['Week']).tail()

,Start_Time,Finish_Time,Activity,Seq_Code,Recipe_Name,Break_Reasons,Missing_Ingredients,Kitting_Line,Assembly_Batch,Event_Shift,Team_Leader,Pickers_Count,Time_Consumption,Week
36900,2020-12-19 10:56:20+00:00,2020-12-19 11:02:07+00:00,Production,0005 of 0007,J2,None,None,KL4,Monday Assembly,Saturday Morning,iXUsr_Tutai(7335),4,5.78,2020-52
68790,2020-12-18 06:30:59+00:00,2020-12-18 06:34:26+00:00,Production,0005 of 0016,D2,None,None,KL6,Saturday Assembly,Friday Morning,iXUsr_Schwalger(7437),4,3.45,2020-52
68791,2020-12-18 07:37:46+00:00,2020-12-18 07:41:22+00:00,Production,0004 of 0008,S2,None,None,KL17,Saturday Assembly,Friday Morning,iXUsr_Schwalger(7437),4,3.60,2020-52
36933,2020-12-19 10:44:24+00:00,2020-12-19 10:47:59+00:00,Production,0002 of 0007,J2,None,None,KL4,Monday Assembly,Saturday Morning,iXUsr_Tutai(7335),4,3.58,2020-52
57233,2020-12-17 11:19:29+00:00,2020-12-17 11:25:17+00:00,Production,0005 of 0018,D4,None,None,KL6,Friday Assembly,Thursday Morning,iXUsr_Ushida(8909),2,5.80,2020-52

In [5]:
data_in_use.shape

(83925, 14)