In [1]:
from google.cloud import bigquery
from google.oauth2 import service_account
key_path = "./creds/service_acc_auth.json"
credentials = service_account.Credentials.from_service_account_file(key_path, scopes = ["https://www.googleapis.com/auth/cloud-platform"])
bigquery_client = bigquery.Client(credentials=credentials, project=credentials.project_id)

In [2]:
# query new data <= 1/1
union_weeks = """
SELECT * , 
FROM `scanning-database.scanning_data_backup.W43`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W44`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W45`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W46`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W47`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W48`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W49`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W50`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W51`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W52`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W53`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W01`
"""

In [3]:
# Overwriting old PowerBI source data
job_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10,
destination = 'scanning-database.PowerBI.PowerBI',
write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE
) # set query limit to 10G
query_job = bigquery_client.query(union_weeks, job_config)  # API request
rows = query_job.result()  # Waits for query to finish
data_in_use = rows.to_dataframe()

In [4]:
data_in_use.sort_values(by=['Week']).tail()

,Start_Time,Finish_Time,Activity,Seq_Code,Recipe_Name,Break_Reasons,Missing_Ingredients,Kitting_Line,Assembly_Batch,Event_Shift,Team_Leader,Pickers_Count,Time_Consumption,Week
20328,2021-01-03 12:07:21+00:00,2021-01-03 12:11:07+00:00,Production,0011 of 0013,T4,None,None,KL18,Monday Assembly,Sunday Morning,iXUsr_Cabrera(6933),3,3.77,2021-01
20327,2021-01-03 09:00:12+00:00,2021-01-03 09:04:17+00:00,Production,0031 of 0042,L4,None,None,KL13,Monday Assembly,Sunday Morning,iXUsr_Yin(9596),2,4.08,2021-01
20326,2021-01-03 07:27:20+00:00,2021-01-03 07:31:47+00:00,Production,0017 of 0042,L4,None,None,KL13,Monday Assembly,Sunday Morning,iXUsr_Yin(9596),2,4.45,2021-01
20324,2021-01-03 13:09:02+00:00,2021-01-03 13:09:31+00:00,Production,0048 of 0060,C4,None,None,KL4,Monday Assembly,Sunday Morning,iXUsr_Yin(9596),2,0.48,2021-01
20951,2021-01-03 08:31:18+00:00,2021-01-03 08:33:30+00:00,Production,0025 of 0042,L4,None,None,KL13,Monday Assembly,Sunday Morning,iXUsr_Yin(9596),2,2.20,2021-01

In [5]:
data_in_use.shape

(74077, 14)