In [1]:
from google.cloud import bigquery
from google.oauth2 import service_account
key_path = "./creds/service_acc_auth.json"
credentials = service_account.Credentials.from_service_account_file(key_path, scopes = ["https://www.googleapis.com/auth/cloud-platform"])
bigquery_client = bigquery.Client(credentials=credentials, project=credentials.project_id)

In [2]:
# query new data <= 1/1
union_weeks = """
SELECT * , 
FROM `scanning-database.scanning_data_backup.W39`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W40`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W41`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W42`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W43`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W44`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W45`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W46`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W47`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W48`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W49`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W50`
"""

In [3]:
# Overwriting old PowerBI source data
job_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10,
destination = 'scanning-database.PowerBI.PowerBI',
write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE
) # set query limit to 10G
query_job = bigquery_client.query(union_weeks, job_config)  # API request
rows = query_job.result()  # Waits for query to finish
data_in_use = rows.to_dataframe()

In [4]:
data_in_use.sort_values(by=['Week']).tail()

,Start_Time,Finish_Time,Activity,Seq_Code,Recipe_Name,Break_Reasons,Missing_Ingredients,Kitting_Line,Assembly_Batch,Event_Shift,Team_Leader,Pickers_Count,Time_Consumption,Week
77552,2020-12-06 15:14:45+00:00,2020-12-06 15:15:03+00:00,Production,None,P4,None,None,KL15,None,Sunday Afternoon,iXUsr_Harrington(9659),3,0.30,2020-50
33557,2020-12-04 09:38:14+00:00,2020-12-04 19:26:27+00:00,Factory Closed,None,N2,None,None,KL17,None,Friday Afternoon,iXUsr_Chang(8908),3,588.22,2020-50
33556,2020-12-04 16:02:14+00:00,2020-12-04 16:02:49+00:00,Production,None,A2,None,None,KL2,None,Friday Afternoon,iXUsr_Chang(8908),3,0.58,2020-50
77533,2020-12-06 21:27:30+00:00,2020-12-06 21:30:05+00:00,Production,None,L4,None,None,KL13,None,Sunday Afternoon,iXUsr_Harrington(9659),2,2.58,2020-50
77681,2020-12-06 15:34:32+00:00,2020-12-06 15:40:16+00:00,Production,0004 of 0010,H4,None,None,KL16,Monday Assembly,Sunday Afternoon,iXUsr_Harrington(9659),2,5.73,2020-50

In [5]:
data_in_use.shape

(90539, 14)