In [1]:
from google.cloud import bigquery
from google.oauth2 import service_account
key_path = "./creds/service_acc_auth.json"
credentials = service_account.Credentials.from_service_account_file(key_path, scopes = ["https://www.googleapis.com/auth/cloud-platform"])
bigquery_client = bigquery.Client(credentials=credentials, project=credentials.project_id)

In [2]:
# query new data
union_weeks = """
SELECT * , 
FROM `scanning-database.scanning_data_backup.W26` 
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W27` 
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W28` 
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W29`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W30`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W31`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W32`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W33`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W34`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W35`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W36`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W37`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W38`
"""

In [3]:
# Overwriting old PowerBI source data
job_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10,
destination = 'scanning-database.PowerBI.PowerBI',
write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE
) # set query limit to 10G
query_job = bigquery_client.query(union_weeks, job_config)  # API request
rows = query_job.result()  # Waits for query to finish
data_in_use = rows.to_dataframe()

In [4]:
data_in_use.tail()

,Start_Time,Finish_Time,Activity,Seq_Code,Recipe_Name,Break_Reasons,Missing_Ingredients,Kitting_Line,Assembly_Batch,Event_Shift,Team_Leader,Pickers_Count,Time_Consumption,Week
95585,2020-07-26 13:17:54+00:00,2020-07-26 13:23:24+00:00,Production,0026 of 0083,C2,None,None,KL19,Monday Assembly,Sunday Morning,Siti Rahmah SiregarSiti Rahmah Siregar,3,5.50,2020-31
95586,2020-07-26 11:52:37+00:00,2020-07-26 12:01:56+00:00,Production,0016 of 0083,C2,None,None,KL19,Monday Assembly,Sunday Morning,Siti Rahmah SiregarSiti Rahmah Siregar,3,9.32,2020-31
95587,2020-07-26 09:39:19+00:00,2020-07-26 09:44:02+00:00,Production,0002 of 0083,C2,None,None,KL19,Monday Assembly,Sunday Morning,Siti Rahmah SiregarSiti Rahmah Siregar,3,4.72,2020-31
95588,2020-07-26 12:57:57+00:00,2020-07-26 13:04:58+00:00,Production,0023 of 0083,C2,None,None,KL19,Monday Assembly,Sunday Morning,Siti Rahmah SiregarSiti Rahmah Siregar,3,7.02,2020-31
95589,2020-07-26 13:42:54+00:00,2020-07-26 13:48:48+00:00,Production,0030 of 0083,C2,None,None,KL19,Monday Assembly,Sunday Morning,Siti Rahmah SiregarSiti Rahmah Siregar,3,5.90,2020-31

In [5]:
data_in_use.shape

(95590, 14)