In [1]:
from google.cloud import bigquery
from google.oauth2 import service_account
key_path = "./creds/service_acc_auth.json"
credentials = service_account.Credentials.from_service_account_file(key_path, scopes = ["https://www.googleapis.com/auth/cloud-platform"])
bigquery_client = bigquery.Client(credentials=credentials, project=credentials.project_id)

In [2]:
# query new data <= 1/1
union_weeks = """
SELECT * , 
FROM `scanning-database.scanning_data_backup.W38`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W39`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W40`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W41`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W42`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W43`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W44`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W45`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W46`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W47`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W48`
UNION ALL
SELECT * , 
FROM `scanning-database.scanning_data_backup.W49`
"""

In [3]:
# Overwriting old PowerBI source data
job_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10,
destination = 'scanning-database.PowerBI.PowerBI',
write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE
) # set query limit to 10G
query_job = bigquery_client.query(union_weeks, job_config)  # API request
rows = query_job.result()  # Waits for query to finish
data_in_use = rows.to_dataframe()

In [4]:
data_in_use.sort_values(by=['Week']).tail()

,Start_Time,Finish_Time,Activity,Seq_Code,Recipe_Name,Break_Reasons,Missing_Ingredients,Kitting_Line,Assembly_Batch,Event_Shift,Team_Leader,Pickers_Count,Time_Consumption,Week
47769,2020-11-26 07:43:59+00:00,2020-11-26 07:44:06+00:00,Production,None,H2,None,None,KL9,None,Thursday Morning,iXUsr_Normie(7460),3,0.12,2020-49
63462,2020-11-28 06:50:49+00:00,2020-11-28 09:21:13+00:00,Break,None,G4,move to other line,None,KL15,None,Saturday Morning,iXUsr_Ushida(8909),4,150.40,2020-49
34540,2020-11-28 20:13:17+00:00,2020-11-28 20:14:27+00:00,Production,0004 of 0004,P2,None,None,KL16,Monday Assembly,Saturday Afternoon,iXUsr_Wang(9965),3,1.17,2020-49
47766,2020-11-26 07:43:44+00:00,2020-11-26 07:46:59+00:00,Production,0022 of 0027,B4,None,None,KL3,Wednesday Assembly,Thursday Morning,iXUsr_Nguyen(6722),3,3.25,2020-49
20912,2020-11-26 06:23:51+00:00,2020-11-26 06:46:41+00:00,Preparation/Changeover,None,SA,None,None,KL16,None,Thursday Morning,iXUsr_Gwen(7292),4,22.83,2020-49

In [5]:
data_in_use.shape

(92758, 14)